@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
}

body {
	/***** Primary *****/

	/* Text */
	--very-dark-desaturated-blue: hsl(238, 29%, 16%); /* [open] summary */
	--soft-red: hsl(14, 88%, 65%); /* summary:hover */

	/* Gradient */
	--soft-violet: hsl(273, 75%, 66%); /* Background gradient */
	--soft-blue: hsl(240, 73%, 65%); /* Background gradient */

	/***** Neutral *****/

	/* Text */
	--very-dark-grayish-blue: hsl(237, 12%, 33%); /* summary */
	--dark-grayish-blue: hsl(240, 6%, 50%); /* details p*/

	/* Dividers */
	--light-grayish-blue: hsl(240, 5%, 91%);

	min-height: 100vh;
	display: grid;
	grid-auto-rows: 1fr auto;
	align-items: center;
	justify-content: center;

	background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

main {
	position: relative;
	margin: 8em auto auto auto;
}

#text {
	width: min(20em, 95vw);
	border-radius: 1em;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6em 1.5em 3em 1.5em;
	gap: 1em;
	box-shadow: 0 2em 2em -1em rgb(0, 0, 0, 0.25);
}

h1 {
	margin: 0.5em auto;
}

details {
	align-self: flex-start;
	min-width: 100%;
	max-height: 1em;
	transition: max-height 250ms;
}

details[open] {
	max-height: 10em;
}

summary {
	font-size: 0.8em;
	color: var(--very-dark-grayish-blue);
	cursor: pointer;
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

summary:hover {
	color: var(--soft-red);
}

summary img {
	width: 1em;
	transition: transform 250ms;
}

[open] summary {
	font-weight: 700;
	color: var(--very-dark-desaturated-blue);
}

[open] summary img {
	transform: rotate(180deg);
}

details p {
	font-size: 0.8em;
	font-weight: 400;
	margin-top: 1em;
	margin-right: 2em;
	color: var(--dark-grayish-blue);
}

hr {
	width: 100%;
	opacity: 0.1;
}

#illustration {
	width: 12em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: -5em;
	z-index: 10;
}

#bg-pattern {
	width: 12em;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.attribution {
	position: static;
	margin: 0.3em auto;
	font-size: 0.5em;
	text-align: center;
	color: var(--very-dark-desaturated-blue);
}
.attribution a {
	color: var(--light-grayish- blue);
}

@media screen and (min-width: 680px) {
	main {
		width: min(50em, 95vw);
		margin: auto;
		padding: 0;
		display: grid;
		grid-template-columns: 1fr 1fr;
		background-color: white;
		border-radius: 1em;
		box-shadow: 0 2em 2em -1em rgb(0, 0, 0, 0.25);
		/* overflow: hidden; */
	}

	#text {
		width: 20em;
		min-width: 50%;
		padding: 4em 0;
		border-radius: unset;
		box-shadow: unset;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
	}

	h1 {
		margin: unset;
	}

	#image {
		width: 100%;
		overflow: hidden;
		clip-path: fill-box;
	}

	#illustration {
		width: 25em;
		left: -5em;
		top: 50%;
		transform: translateY(-50%);
	}

	#bg-pattern {
		width: 50em;
		left: -30em;
		top: 50%;
		transform: translateY(-60%);
	}

	#box {
		position: absolute;
		width: 10em;
		left: -7em;
		top: 50%;
		transform: translateY(-25%);
		z-index: 15;
		filter: drop-shadow(0 1em 1em rgb(0, 0, 0, 0.25));
	}
}
