@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kumbh Sans", sans-serif;
}

body {
	/***** Primary *****/

	/* Text */
	--very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--soft-red: hsl(14, 88%, 65%);

	/* Gradient */
	--soft-violet: hsl(273, 75%, 66%); /* Background gradient */
	--soft-blue: hsl(240, 73%, 65%); /* Background gradient */

	/***** Neutral *****/

	/* Text */
	--very-dark-grayish-blue: hsl(237, 12%, 33%);
	--dark-grayish-blue: hsl(240, 6%, 50%);

	/* Dividers */
	--light-grayish-blue: hsl(240, 5%, 91%);

	min-height: 100vh;
	display: grid;
	grid-auto-rows: 1fr auto;
	place-items: center;
	font-size: 2.5vh;
}

main {
}

.attribution {
	position: fixed;
	bottom: 0.3em;
	font-size: 0.7em;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
